.logo {
  position: relative;
  display: block;
  width: 100%;
  height: 86px;
  background-color: $bg-mobile;

  &__image {
    position: absolute;
    width: 262px;
    top: -9px;
    left: 50%;
    transform: translate(-50%);
  }

  @media only screen and (min-width: $tablet-width) {
    background-image: url("./../img/back-desktop.jpg");
    background-size: cover;
    background-position: 0 20%;
    background-repeat: no-repeat;
    height: 397px;

    &__image {
      width: 370px;
      top: 39px;
    }
  }

}