.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $bg-mobile;
  
  &__links {
    @include list-reboot;
  }
  
  &__item {
    position: relative;
    display: block;
  }
  
  &__link {
    display: inline-block;
    width: 100%;
    padding: 13px;
    background-color: $accent;
    border-bottom: 1px solid #71543f;
    // box-shadow: 0 -1px 0 #71543f, inset 0 1px 0 #886e5b;
    box-shadow: inset 0 1px 0 #886e5b;    
    text-decoration: none;
    color: white;
    font-family: $default;
    font-weight: 700;
    text-transform: uppercase;

    &:active {
      opacity: 0.3;
    }
    
    &--login {
      position: relative;
      padding-left: 40px;      
      background-color: $accent-dark;
      border: none;
      box-shadow: none;
      text-transform: capitalize;
      font-weight: 400;
      
      &::before {
        position: absolute;
        content: url(../img/login.svg);
        top: 14px;
        left: 12px;
        opacity: .3;
      }
    }
  }
  
  &__menu {
    position: relative;
  }
  
  &__login {
    @include list-reboot;
  }
  
  &__wrapper {
    margin-left: 70px;
    background-color: $accent-dark;
    min-height: 570px;
    position: absolute;
    left: 0;
    right: 0;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      z-index: 2;
      width: 7px;
      height: 100%;
      box-shadow: inset 4px 0 7px -2px  rgba(0, 0, 0, 0.4);

    }
  }
  
  &__hamburger {
    position: absolute;
    margin-left: -70px;
    z-index: 1;
    width: 70px;
    height: 50px;
    border: 0;
    background-color: $accent-dark;
    font-size: 0;
    
    &::before,
    &::after {
      position: absolute;
      top: 24px;
      left: 18px;
      transform: rotate(45deg);
      content: "";
      width: 34px;
      height: 2px;
      background-color: #fff;
      border-radius: 5px;
    }
    &::after {      
      transform: rotate(-45deg);
    }
  } 
  
  @media only screen and (min-width: $tablet-width) {
    flex-direction: column-reverse;
    background-color: #000;
    
    &__wrapper {      
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      background-color: #000;
      min-height: 0;
      position: relative;
    }
    
    &__hamburger {
      display: none;
    }
    
    &__links,
    &__login {
      display: flex;
      flex-wrap: wrap;
    }
    
    &__item--active::after {
      position: absolute;
      content: "";
      height: 3px;
      left: 16px;
      right: 16px;
      bottom: -3px;
      background-color: $accent;
    }
    
    &__login {      
      margin-right: 25px;
    }
    
    &__link {
      background-color: #000;
      border-bottom: none;
      padding: 24px 16px;
      box-shadow: none;
      
      &:hover {
        color: $accent;
      }
      &:active {
        color: #fff;
      }

      &--login {
        font-size: 0;
        width: 50px;        

        &::before {
          top: 28px;
          left: 0;
        }
        &:hover::before {
          opacity: 1;
          filter: grayscale(100%) brightness(35%) sepia(69%) hue-rotate(0deg) saturate(260%) contrast(1);
        }

        &:active::before {
          filter: none;
        }
      }
    }
    
  }
  
  @media only screen and (min-width: $desktop-width) {
    &__link {
      padding: 24px 30px;

      &:hover {
        background-color: #fff;
        color: #000;
      }
      &:active {
        opacity: 1;
        color: rgba($color: #000, $alpha: 0.3);
      }
      
      &--login {
        position: relative;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 24px 60px 24px 62px;

        &:hover::before {
          filter: brightness(70%);
        }
        
        &::before {
          top: 26px;
          left: 27px;
        }
      }
    }
    
    &__item--active::after {
      left: 30px;
      right: 30px;
    }
  }
}

@media only screen and (max-width: $mobile-width-only) {
  .main-nav__menu--closed {
    .main-nav {
      &__item {
        display: none;
      }      
      
      &__item--active {
        display: block;
        text-align: center;
      }      
      
      &__wrapper {
        margin-left: 0;        
        min-height: 0;
      }      
      
      &__hamburger {
        right: 0;
        
        &::before,
        &::after {
          transform: translateY(9px);
        }
        &::after {      
          transform: translateY(-9px);
          box-shadow: 0 9px 0 #fff;           
        }
      }
    }
  }
}
