.new {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  
  &:hover {
    .new {
      &__date {
        background-color: $accent;
        
        &::after {
          border-top-color: $accent;
        }
      }
      
      &__text {
        color: $accent;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  
  &__date {
    position: relative;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-transform: lowercase;
    line-height: 8px;
    font-size: 16px;
    transition: background-color .2s;
    
    &::after {
      position: absolute;
      left: 0;
      bottom: -10px;
      content: "";
      width: 0; 
      height: 0; 
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;      
      border-top: 10px solid #000;
      transition: border .3s;
    }
  }
  
  &__number {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }
  
  &__text {
    max-width: 75%;
    min-height: 80px;
    margin: 0;
    margin-top: -10px;
    margin-left: 7%;    
    transition: color .3s;
  }
  
  @media only screen and (min-width: $tablet-width) {
    &__date {
      width: 50px;
    }
    
    &__text {
      width: 210px;
      margin-left: 20px;
    }
  }
}