<footer class="page__footer">
  <div class="main-footer">
    <div class="main-footer__wrapper main-footer__wrapper--tablet">
      <div class="main-footer__info">
        <p class="main-footer__name">Барбершоп Бородинский</p>
        <p class="main-footer__address">г. Санкт-Петербург, ул. Большая Конюшенная 19/8 <br>
        </p>
        <span class="main-footer__tel-caption">Тел.: </span><a class="main-footer__tel" href="tel:+78125556666">+7 (812) 555-66-66</a>
      </div>            
      <div class="developed-by developed-by--tablet">
          <p class="developed-by__text">Разработано:</p>
          <a class="developed-by__link" href="http://github.com/avalsoff">avalsoff</a>
        </div>
    </div>
    <ul class="main-footer__socials">
      <li class="main-footer__social-item">
        <a class="main-footer__social main-footer__social--vk" href="http://vk.com">Вконтакте</a>
      </li>
      <li class="main-footer__social-item">
        <a class="main-footer__social main-footer__social--fb" href="http://facebook.com">Facebook</a>
      </li>
      <li class="main-footer__social-item">
        <a class="main-footer__social main-footer__social--inst" href="http://instagram.com">Instagram</a>
      </li>
    </ul>
    <div class="main-footer__wrapper">      
      <div class="developed-by">
        <p class="developed-by__text">Разработано:</p>
        <a class="developed-by__link" href="http://github.com/avalsoff">avalsoff</a>
      </div>
    </div>
  </div>
</footer>