<header class="page__header">
  <nav class="main-nav">
    <a class="main-nav__logo logo">
      <img class="logo__image" src="./img/logo.svg"></img>
    </a>
    <!-- main-nav__menu--closed -->
    <div class="main-nav__menu main-nav__menu--closed page__inner">
      <div class="main-nav__wrapper">
        <button class="main-nav__hamburger">Открыть или закрыть меню</button>
        <ul class="main-nav__links">
          <li class="main-nav__item main-nav__item--active">
            <a href="#" class="main-nav__link">Главная</a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">Наши работы</a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">Записаться</a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">Контакты</a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">Avalsoff</a>
          </li>
        </ul>
        <ul class="main-nav__login">
          <li class="main-nav__item">
            <a href="#" class="main-nav__link main-nav__link--login">
              Вход
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>