<header class="page__header">
  <nav class="main-nav no-js">
    <div class="page__inner">
      <a class="logo">
        <img src="" alt="" class="logo__image">
      </a>
      <ul class="main-nav__links">
        <li class="main-nav__item">
          <a href="#" class="main-nav__link main-nav__link--active">Главная</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link">Наши работы</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link">Записаться</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link">Контакты</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link">Avalsoff</a>
        </li>
      </ul>
      <ul class="main-nav__login">
        <li class="main-nav__item">
          <a href="#" class="main-nav__link main-nav__link--login">
            Вход
          </a>
        </li>
      </ul> 
    </div>
  </nav>
</header>