<header class="page__header">
  <nav class="main-nav no-js">
    <div class="page__inner">
      <a class="logo">
        <img class="logo__image" src="./img/logo.svg"></img>
      </a>
      <div class="main-nav__mobile-menu">
        <button class="main-nav__hamburger">Открыть или закрыть меню</button>
        <div class="main-nav__mobile-menu-wrapper">
          <ul class="main-nav__links">
            <li class="main-nav__item">
              <a href="#" class="main-nav__link main-nav__link--active">Главная</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Наши работы</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Записаться</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Контакты</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Avalsoff</a>
            </li>
          </ul>
          <ul class="main-nav__login">
            <li class="main-nav__item">
              <a href="#" class="main-nav__link main-nav__link--login">
                Вход
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>