// *********** Colors *************//
$accent: #826550;
$accent-dark: #6a4d38;
$bg-mobile: #242424;
$bg-dark: #353535;
$bg-darkest: #292929;


// *********** Fonts *************//
$default: "PT Sans Narrow", Arial, Helvetica, sans-serif;
$text: #fff;

// *********** Breakpoints *************//
$tablet-width: 640px;
$mobile-width-only: 639px;
$desktop-width: 1200px;
