// *********** Colors *************//
$accent: #826550;
$accent-dark: #6a4d38;
$bg-mobile: #242424;
$bg-light: #f8f5f2;
$bg-dark: #353535;
$bg-darkest: #292929;


// *********** Fonts *************//
$default: "PT Sans Narrow", Arial, Helvetica, sans-serif;
$text: #fff;
$text-dark: #f7f4f1;

// *********** Breakpoints *************//
$tablet-width: 680px;
$mobile-width-only: 679px;
$desktop-width: 1010px;
